<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connstring1" value="Url=https://jms.crm9.dynamics.com;authtype=Office365;username=n-hwahbi@kingcounty.gov;password=*****;RequireNewInstance=true" />
    <add key="connstring2" value="Url=https://kc-jms-dev.crm9.dynamics.com;authtype=Office365;username=n-hwahbi@kingcounty.gov;password=*****;RequireNewInstance=true" />
    <add key="entities" value="1,2,10108,10389,10309,10305,10263,10256,10272,10075" />
  </appSettings>
</configuration>