<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="connstring1" value="Url=https://jms.crm9.dynamics.com;authtype=Office365;username=n-hwahbi@kingcounty.gov;password=Juliku99!;RequireNewInstance=true" />
    <add key="connstring2" value="Url=https://kc-jms-dev.crm9.dynamics.com;authtype=Office365;username=n-hwahbi@kingcounty.gov;password=Juliku99!;RequireNewInstance=true" />
    <add key="option-entities" value="1,2,10108,10389,10309,10305,10263,10256,10272,10075" />
    <add key="mig-entities" value="tri_bed,tri_mugshot,tri_offenderalert,account.tri_offendercase,tri_booking,contact,tri_sanction,tri_offendermedicalrecord,tri_offendermovement" />
    <add key="lookup-entities" value="tri_educationlevel,tri_language,tri_employmentstatus,tri_offendercasenotetype,tri_releasereason,tri_alerttype,tri_alert,tri_relashionship,tri_state,tri_country,tri_violation,kc_restrictiontype,tri_court" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
